---
layout: base.njk
title: Nicolas Murphy
---

<ul>
  {% for post in collections.posts | reverse %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <span>{{ post.data.description }}</span>
      <time>{{ post.date | postDate }}</time>
    </li>
  {% endfor %}
</ul>