<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script defer src="https://cdn.vercel-insights.com/v1/script.js"></script>
    <script>
      console.log(`
░█░█░█▀█░█░█░░░█▀▀░█▀█░█░█░█▀█░█▀▄
░░█░░█░█░█░█░░░█▀▀░█░█░█░█░█░█░█░█
░░▀░░▀▀▀░▀▀▀░░░▀░░░▀▀▀░▀▀▀░▀░▀░▀▀░

░▀█▀░█░█░█▀▀░░░█▀▀░█▀▀░█▀▀░█▀▄░█▀▀░▀█▀░█
░░█░░█▀█░█▀▀░░░▀▀█░█▀▀░█░░░█▀▄░█▀▀░░█░░▀
░░▀░░▀░▀░▀▀▀░░░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░░▀░░▀
      `);
    </script>
  </head>
  <body>
    <header>
      <a href="/">Nicolas Murphy</a>
      <hr />
    </header>
    <main>{{ content | safe }}</main>
    <footer>
      <a
        href="https://mass-spectrum-to-audio-converter.onrender.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Mass Spectrum to Audio Converter</a
      >
      <a
        href="https://songseeker.xyz/"
        target="_blank"
        rel="noopener noreferrer"
        >SongSeeker</a
      >
    </footer>
  </body>
</html>
